<div class="p-5 border border-gray-200 shadow-md rounded-lg mb-5 bg-white">
    <h2 class="text-xl font-bold mb-1">Caption</h2>
    <p class="text-gray-600">Write an interesting caption</p>

    <input type="text" class="w-full mt-5 p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-purple-300 transition-colors" placeholder="Enter your caption here" />
</div>