<div class="p-5 border border-gray-200 shadow-md rounded-lg mb-5 bg-white">
    <h2 class="text-xl font-bold mb-1">Photo Layout</h2>
    <p class="text-gray-600">Choose how many photos to capture</p>

    <div class="mt-5 flex flex-col gap-3">
        <div class="w-full border border-gray-300 hover:border-purple-300 transition-color p-3 rounded-lg cursor-pointer flex items-center gap-5">
            <div class="p-2 border border-gray-200 rounded-full" />
            <p class="font-semibold">2 Photos (2x1) <span class="font-normal text-gray-600 text-sm">Two photos side by side</span></p>
        </div>

        <div class="w-full border border-gray-300 hover:border-purple-300 transition-color p-3 rounded-lg cursor-pointer flex items-center gap-5">
            <div class="p-2 border border-gray-200 rounded-full" />
            <p class="font-semibold">3 Photos (3x2) <span class="font-normal text-gray-600 text-sm">Three photos side by side</span></p>
        </div>

        <div class="w-full border border-gray-300 hover:border-purple-300 transition-color p-3 rounded-lg cursor-pointer flex items-center gap-5">
            <div class="p-2 border border-gray-200 rounded-full" />
            <p class="font-semibold">4 Photos (2x2) <span class="font-normal text-gray-600 text-sm">Four photos side by side</span></p>
        </div>
    </div>
</div>