---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/section/home/HeroSection.astro';
import FeaturesSection from '../components/section/home/FeaturesSection.astro';
---

<Layout>
	<div class="flex justify-center px-5 py-10">
		<div class="w-full max-w-[1500px]"> 
			<HeroSection />
			<FeaturesSection />
		</div>
	</div>
</Layout>
