<div class="text-center">
    <h1 class="text-4xl sm:text-6xl md:text-7xl lg:text-7xl font-bold">
        Capture Your <br>Most <span class="bg-gradient-to-r from-purple-500 to-purple-700 text-transparent bg-clip-text">Perfect Moments</span>
    </h1>

    <div class="flex justify-center mt-4">
        <p class="text-gray-600 text-lg w-full max-w-[600px]">Create unforgettable memories with friends and family through our Photo Booth - fast, exciting, and stylish!</p>
    </div>

    <div class="flex justify-center mt-5">
        <a href="/setting" class="bg-purple-500 hover:bg-purple-600 px-5 py-3 rounded-lg text-white">
            Start Creating
        </a>
    </div>
</div>