---
import "../styles/global.css";
import CameraHeader from "../components/global/CameraHeader.astro";
import Footer from "../components/global/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Photobooth Camera | Frameo</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<CameraHeader />
		<main class="flex-grow mt-[78px]">
			<slot />
		</main>
		<Footer />
	</body>
</html>
