---
import "../styles/global.css";
import MainHeader from "../components/global/MainHeader.astro";
import Footer from "../components/global/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Online Photobooth | Frameo</title>
	</head>
	<body>
		<MainHeader />
		<main class="mt-[75px]">
			<slot />
		</main>
		<Footer />
	</body>
</html>
