---
const year = new Date().getFullYear();
---
<footer class="flex justify-center bg-white border-t border-gray-200 mt-10">
  <div class="w-full max-w-[1300px]">
    <p class="text-center text-gray-500 py-5">© {year} Frameo. All rights reserved.</p>
  </div>
</footer>
